@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-1: #B31405;
    --cor-2: #C92A2A;
    --cor-3: #CFCFCF;
    --cor-4: #F7F9F9;
    --cor-5: #FFFAF1;
    --cor-6: #212529;
    --cor-7: #495057;
    --cor-8: #FFFFFF;

    --weight-1: 400;
    --weight-2: 700;
}

body{
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    background-color: var(--cor-3);
}

/* CABEÇALHO */
.cabecalho-container {
  display: flex;
  align-items: center;
  background-color: var(--cor-3);
  padding: 0 121px;
}

.cabecalho-menu {
    display: flex;
    gap: 20px;
    margin-left: 273px;
    margin-right: 149px;
    font-weight: var(--weight-1);
    font-size: 16px;
}

.cabecalho-menu-dashboard {
    font-size: 16px;
    font-weight: var(--weight-2);
    border: 1px solid var(--cor-2);
    border-radius: 40px;
    padding: 12px 24px;
}

.cabecalho-container a {
    text-decoration: none;
    color: var(--cor-2);
}

.cabecalho-menu a:hover {
    text-decoration: none;
    font-weight: var(--weight-2);
    border-bottom: 2px solid var(--cor-2);
    padding-bottom: 5px;
}

/* corpo */
.conteudo-primeiro {
    display: flex;
    background: var(--cor-3);
    padding: 68px 130px 175px 130px;
    gap: 114px;
}

.conteudo-primeiro-div-1 {
    width: 695px;
    height: 385px;
}

.conteudo-primeiro-paragrafo-1 {
    font-weight: var(--weight-2);
    font-size: 14px;
    color: var(--cor-1);
    margin-bottom: 16px;
}

.conteudo-primeiro-div-1 h1 {
    font-weight: var(--weight-2);
    font-size: 52px;
    color: var(--cor-6);
    margin-bottom: 20px;
}

.conteudo-primeiro-paragrafo-2 {
    font-weight: var(--weight-1);
    font-size: 18px;
    margin-bottom: 57px;
    color: var(--cor-7);
}

.conteudo-primeiro-div-2 {
    display: inline;
    background-color: var(--cor-1);
    border: 1px solid var(--cor-1);
    padding: 16px 32px;
    border-radius: 40px;
}

.conteudo-primeiro-div-2 a {
    color: var(--cor-8);
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.conteudo-segundo {
    display: flex;
    border: 1px solid var(--cor-3);
    border-radius: 6px;
    background-color: var(--cor-5);
    padding: 70px 84px;
    margin: -115px 120px;
    position: relative;
    z-index: 2;
}

.conteudo-segundo h2 {
    font-weight: var(--weight-2);
    font-size: 21px;
    color: var(--cor-6);
    text-align: center;
}

.conteudo-segundo-div-1,
.conteudo-segundo-div-2,
.conteudo-segundo-div-3 {
    border-right: 1px solid var(--cor-2);
    padding: 5px 35px;
}

.conteudo-segundo-div-4 {
    padding: 5px 35px;
}

.conteudo-segundo-paragrafo-1,
.conteudo-segundo-paragrafo-3,
.conteudo-segundo-paragrafo-5,
.conteudo-segundo-paragrafo-7 {
    font-weight: var(--weight-1);
    font-size: 12px;
    color: var(--cor-1);
    margin-top: 20px;
}

.conteudo-segundo-paragrafo-2,
.conteudo-segundo-paragrafo-4,
.conteudo-segundo-paragrafo-6,
.conteudo-segundo-paragrafo-8 {
    font-weight: var(--weight-1);
    font-size: 10px;
    color: var(--cor-1);
}

.conteudo-terceiro {
    display: flex;
    gap: 67px;
    background-color: var(--cor-5);
    padding: 125px 130px;
}

.conteudo-terceiro-div-1 {
    padding: 50px;
}

.conteudo-terceiro-div-1 h3 {
    font-weight: var(--weight-2);
    font-size: 14px;
    color: var(--cor-1);
    margin-bottom: 10px;
}

.conteudo-terceiro-div-1 h2 {
    font-weight: var(--weight-2);
    font-size: 40px;
    color: var(--cor-6);
    margin-bottom: 24px;
}

.conteudo-terceiro-div-1 p {
    font-weight: var(--weight-1);
    font-size: 16px;
    color: var(--cor-7);
    line-height: 1.5;
}

.conteudo-quarto {
    background-color: var(--cor-4);
    justify-items: center;
    padding: 40px 123px 0;
}

.conteudo-quarto h2,
.conteudo-quinto-div-1 h2,
.conteudo-sexto-div-1 h2 {
    font-weight: var(--weight-2);
    font-size: 40px;
    color: var(--cor-6);
    margin-bottom: 20px;
}

strong {
    color: var(--cor-1);
}

.conteudo-quarto-paragrafo-1,
.conteudo-quarto-paragrafo-5,
.conteudo-quinto-paragrafo {
    font-weight: var(--weight-2);
    font-size: 16px;
    color: var(--cor-1);
    margin-bottom: 3px;
}

.conteudo-quarto-div-1 {
    display: flex;
    margin-top: 25px;
    margin-bottom: 95px;
    gap: 70px;
}

.conteudo-quarto-divs-2 {
    border: 1px solid var(--cor-3);
    background-color: var(--cor-8);
    border-radius: 6px;
    padding: 20px 24px;
}

.conteudo-quarto-divs-2 h3,
.conteudo-quarto-div-4 h3 {
    font-weight: var(--weight-2);
    font-size: 24px;
    color: var(--cor-6);
    margin-bottom: 16px;
}

.conteudo-quarto-paragrafo-2,
.conteudo-quarto-paragrafo-3,
.conteudo-quarto-paragrafo-4 {
    font-weight: var(--weight-1);
    font-size: 14px;
    color: var(--cor-7);
    line-height: 1.5;
}

.conteudo-quarto-div-3 {
    display: flex;
    gap: 150px;
    margin-top: 30px;
}

.conteudo-quarto-paragrafo-6 {
    font-weight: var(--weight-1);
    font-size: 16px;
    color: var(--cor-7);
    line-height: 1.5;
}

.conteudo-quinto {
    display: flex;
    background-color: var(--cor-5);
    padding: 150px 120px;
    gap: 40px;
}

.conteudo-quinto-div-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px 20px;
}

.conteudo-quinto-divs-3 {
    background-color: var(--cor-8);
    border: 1px solid var(--cor-1);
    border-radius: 6px;
    padding: 24px;
}

.conteudo-quinto-divs-3 h3 {
    font-weight: var(--weight-2);
    font-size: 24px;
    color: var(--cor-6);
    margin: 16px 0;
}

.conteudo-quinto-divs-3 p {
    font-weight: var(--weight-1);
    font-size: 16px;
    color: var(--cor-7);
    line-height: 1.5;
}

.conteudo-sexto {
    display: flex;
    background-color: var(--cor-8);
    padding: 150px 130px;
    gap: 166px;
    align-items: center;
}

.conteudo-sexto-div-2 {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 18px;
}

.conteudo-sexto-div-4 {
    display: flex;
    align-items: center;
    gap: 17px;
}

.conteudo-sexto-paragrafo-negrito {
    font-weight: var(--weight-2);
    font-size: 16px;
    color: var(--cor-6);
}

.conteudo-sexto-paragrafo {
    font-weight: var(--weight-1);
    font-size: 16px;
    color: var(--cor-7);
}

.rodape{
    background-color: var(--cor-1);
}