@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-1: #23306A;
    --cor-2: #D1D1D1;
    --cor-3: #F7F9F9;
    --cor-4: #C7417B;
    --cor-5: #FFFFFF;
    --cor-6: #FAFFFC;
    --cor-7: #2F2E2D;
    --cor-8: #00B6CB;
    --cor-9: #9C55EC;
    --cor-10: #E9EEF4;
    --cor-11: #3A3A3D;
    --cor-12: #AAAAAA;
    --cor-13: #AB6EEF;
    --cor-14: #E6EDF5;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--cor-14);
}

/* cabeçalho */

.cabecalho_container {
    display: flex;
    align-items: center;
    background-color: var(--cor-5);
    width: 100%;
    height: 120px;
    padding: 0 50px;
}

.logo_item {
    cursor: pointer;
}

.logo_item img {
    height: 1370px;
    width: 175px;
}

.cabecalho-primeiro-div-1{
    margin-left: auto;
    text-align: left;
    color: var(--cor-1);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

/* conteudo */
.cabecalho-primeiro-paragrafo-1 {
     color: var(--cor-1);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.dashboard-bloco {
  background: linear-gradient(135deg, #4d4d4d, #2a2a2a); /* degradê cinza escuro */
  border-radius: 12px;
  padding: 20px;
  color: white;
  width: 220px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

.dashboard-bloco h3 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.dashboard-bloco .numero {
  font-weight: 700;
  font-size: 28px;
  display: flex;
  align-items: center;
  gap: 8px;
}